body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #cafaff;
  background-image: url(https://www.shutterstock.com/image-vector/bakerycakesdessertpastries-linear-patterndoodle-vectorvintage-food-600nw-283312367.jpg);
}

.login-container {
  background: #fffb81;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 300px;
}

.login-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
  border-color: #f5a623;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #f5a623;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #d48c1a;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}
